html,
body{
    height: 100%;
    margin: 0;
}

.main-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 100%;
}

/*hack instead of non-working horizontally justify-content*/
.horizontal-margin{
    margin: auto;
    width: 98%;
}

.header,
.footer{
    background: goldenrod;
}

.site-content{
    background: gainsboro;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: space-around;
}

.text-content{
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.left-side-panel,
.right-side-panel{
    background: lemonchiffon;
}

.right-side-panel{
    flex-grow: 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
}